<table class="table">
  <thead>
  <tr>
    <th>
      Player
    </th>
    <th>
      Touches
    </th>
    <th>
      Touchdown
    </th>
  </tr>
  </thead>
  <tbody>
  <tr>
      <td>
          Sonny
      </td>
      <td>
        <strong>{{ getTouches('Sonny') }}&nbsp;&nbsp;</strong>
        <button class="btn btn-primary" (click)="decrementTouchesCounter('Sonny')">➖</button>
        <button class="btn btn-primary" (click)="incrementTouchesCounter('Sonny')">➕</button>
      </td>
      <td>
        <strong>{{ getTds('Sonny') }}&nbsp;&nbsp;</strong>
        <button class="btn btn-primary" (click)="decrementTdCounter('Sonny')">➖</button>
        <button class="btn btn-primary" (click)="incrementTdCounter('Sonny')">➕</button>
      </td>
  </tr>
  <tr>
    <td>
      Rocco
    </td>
    <td>
      <strong>{{ getTouches('Rocco') }}&nbsp;&nbsp;</strong>
      <button class="btn btn-primary" (click)="decrementTouchesCounter('Rocco')">➖</button>
      <button class="btn btn-primary" (click)="incrementTouchesCounter('Rocco')">➕</button>
    </td>
    <td>
      <strong>{{ getTds('Rocco') }}&nbsp;&nbsp;</strong>
      <button class="btn btn-primary" (click)="decrementTdCounter('Rocco')">➖</button>
      <button class="btn btn-primary" (click)="incrementTdCounter('Rocco')">➕</button>
    </td>
  </tr>
  <tr>
    <td>
      George
    </td>
    <td>
      <strong>{{ getTouches('George') }}&nbsp;&nbsp;</strong>
      <button class="btn btn-primary" (click)="decrementTouchesCounter('George')">➖</button>
      <button class="btn btn-primary" (click)="incrementTouchesCounter('George')">➕</button>
    </td>
    <td>
      <strong>{{ getTds('George') }}&nbsp;&nbsp;</strong>
      <button class="btn btn-primary" (click)="decrementTdCounter('George')">➖</button>
      <button class="btn btn-primary" (click)="incrementTdCounter('George')">➕</button>
    </td>
  </tr>
  <tr>
    <td>
      Hunter
    </td>
    <td>
      <strong>{{ getTouches('Hunter') }}&nbsp;&nbsp;</strong>
      <button class="btn btn-primary" (click)="decrementTouchesCounter('Hunter')">➖</button>
      <button class="btn btn-primary" (click)="incrementTouchesCounter('Hunter')">➕</button>
    </td>
    <td>
      <strong>{{ getTds('Hunter') }}&nbsp;&nbsp;</strong>
      <button class="btn btn-primary" (click)="decrementTdCounter('Hunter')">➖</button>
      <button class="btn btn-primary" (click)="incrementTdCounter('Hunter')">➕</button>
    </td>
  </tr>
  <tr>
    <td>
      Porter
    </td>
    <td>
      <strong>{{ getTouches('Porter') }}&nbsp;&nbsp;</strong>
      <button class="btn btn-primary" (click)="decrementTouchesCounter('Porter')">➖</button>
      <button class="btn btn-primary" (click)="incrementTouchesCounter('Porter')">➕</button>
    </td>
    <td>
      <strong>{{ getTds('Porter') }}&nbsp;&nbsp;</strong>
      <button class="btn btn-primary" (click)="decrementTdCounter('Porter')">➖</button>
      <button class="btn btn-primary" (click)="incrementTdCounter('Porter')">➕</button>
    </td>
  </tr>
  <tr>
    <td>
      Drake
    </td>
    <td>
      <strong>{{ getTouches('Drake') }}&nbsp;&nbsp;</strong>
      <button class="btn btn-primary" (click)="decrementTouchesCounter('Drake')">➖</button>
      <button class="btn btn-primary" (click)="incrementTouchesCounter('Drake')">➕</button>
    </td>
    <td>
      <strong>{{ getTds('Drake') }}&nbsp;&nbsp;</strong>
      <button class="btn btn-primary" (click)="decrementTdCounter('Drake')">➖</button>
      <button class="btn btn-primary" (click)="incrementTdCounter('Drake')">➕</button>
    </td>
  </tr>
  <tr>
    <td>
      Emmett
    </td>
    <td>
      <strong>{{ getTouches('Emmett') }}&nbsp;&nbsp;</strong>
      <button class="btn btn-primary" (click)="decrementTouchesCounter('Emmett')">➖</button>
      <button class="btn btn-primary" (click)="incrementTouchesCounter('Emmett')">➕</button>
    </td>
    <td>
      <strong>{{ getTds('Emmett') }}&nbsp;&nbsp;</strong>
      <button class="btn btn-primary" (click)="decrementTdCounter('Emmett')">➖</button>
      <button class="btn btn-primary" (click)="incrementTdCounter('Emmett')">➕</button>
    </td>
  </tr>
  </tbody>
</table>
